.newTaskForm {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.newTaskForm input{
    width: 39.87rem;
    height: 3.37rem;
    border-radius: 8px;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
    padding: 1rem;
    
}
.newTaskForm input::placeholder {
    color: var(--gray-300);
  }
  .newTaskForm input:focus {
    border: 1px solid var(--purple-300);
  }

.newTaskForm button[type=submit]{
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-100);
    background: var(--blue-300);
    border-radius: 8px;
    height: 3.37rem;
    width: 5.625rem;
    padding: 1rem;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.newTaskForm button[type=submit]:hover{
    background: var(--blue-100);
    transition: background 0.5s; 

}
@media (max-width: 768px){

    .newTaskForm {
        flex-direction: column;
    }
    .newTaskForm input{
        width: 24.87rem;
    }
}