.task {
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
    background: var(--gray-500);
    border-radius: 8px;
    width: 46rem;
    height: auto;
    align-items: flex-start;

    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}
.task+.task {
    margin-top: 0.75rem;
}
.task label{
    color: var(--gray-100);
    font-size: 0.875rem;
    width: 39.5rem;
    line-height: 19.6px;
    position: relative;
    top: -0.1875rem;

    transition: 300ms all ease-in-out;
}
.task input[type="checkbox"]{
    appearance: none;
    border-radius: 2.5rem;
    width: 1.09rem;
    height: 1.09rem;
    border: 1.5px solid var(--blue-100);
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    
}
.task input[type="checkbox"]:hover{
    background-color: rgba(30, 111, 159, 0.2);
    border-color: var(--blue-300);
    transition: 120ms all ease-in-out;
    
}
.task  input[type="checkbox"] {
    display: grid;
    place-content: center;
}
.task  input[type="checkbox"]::before {
    content: "";
    opacity: 0;
    transition: 120ms opacity ease-in-out;
} 
.task input[type="checkbox"]:checked::before {
    opacity: 1;
    width: 2.69px;
    height: 5px;
    border: solid var(--white);
    border-width: 0 1px 1px 0;
    transform: translateY(-1px) rotate(45deg);
    transition: 120ms all ease-in-out;
}
.task input[type="checkbox"]:checked{
    background-color: var(--purple-300);
    border-color: var(--purple-300);
    transition: 120ms all ease-in-out;
}
.task input[type="checkbox"]:checked:hover{
    background-color: var(--purple-100);
    border-color: var(--purple-100);
    transition: 120ms all ease-in-out;
}
.task input[type="checkbox"]:checked ~ label{
    color: var(--gray-300);
    text-decoration: line-through;
    
}
.task button{
    color: var(--gray-300);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    border: 0;
    line-height: 0;
    background-color: transparent;
    
    cursor: pointer;
}
.task button:hover{
    color: var(--red-100);
    background-color: var(--gray-400);
    
    transition: 300ms all ease-in-out;
}